@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: rgb(238,174,202);
background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.array {
    text-align: center;
    background-color:transparent;
   min-height:40vh;
    width: 696px;;
    border: 2px solid black;
    border-radius: 20px;
    margin:0px auto;
    transition: .1s;
}
.array:hover{
    transform:scale(1.1);
    background-color:lightcoral;
    
}
.duplicate:hover{
    transform:scale(1.1);
    background-color:violet;
    
}
.duplicate:hover{
    transform:scale(1.1);
    background-color:violet;
    
}
.duplicate{
    text-align: center;
    background-color:transparent;
   min-height:40vh;
    width:696px;
    margin:0px auto;
    border: 2px solid black;
    border-radius: 20px;
    transition: .1s;
    
}
.form-control{
    width:70% !important;
    margin:5px auto;
}
.container{
   
    margin:10px auto;
}

#fullName::placeholder{
    text-align: center;
}
.name{
    text-align: center;
    background-color:transparent;
   min-height:40vh;
    width:696px;
    margin:0px auto;
    border: 2px solid black;
    border-radius: 20px;
    transition: .1s;
}
.name:hover{
    transform:scale(1.1);
    background-color:lightblue;
    
}